openapi: 3.1.0
info:
  title: Clerk Backend Invitations SignInTokens API
  description: 'Clerk drop-in authentication and user management Backend API.

    Authenticated with a Bearer secret key (sk_test_... or sk_live_...).

    Provides server-side management of users, sessions, organizations,

    invitations, sign-in tokens, JWT templates, and webhooks.

    This spec covers a representative slice of the Clerk Backend API;

    the full canonical specification is published at

    https://github.com/clerk/openapi-specs.

    '
  version: v1
  contact:
    name: Clerk Developers
    url: https://clerk.com/docs/reference/backend-api
servers:
- url: https://api.clerk.com/v1
  description: Clerk production Backend API
security:
- BearerAuth: []
tags:
- name: SignInTokens
paths:
  /sign_in_tokens:
    post:
      summary: Create a sign-in token
      operationId: createSignInToken
      tags:
      - SignInTokens
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - user_id
              properties:
                user_id:
                  type: string
                expires_in_seconds:
                  type: integer
                  default: 2592000
      responses:
        '200':
          description: Sign-in token created
  /sign_in_tokens/{sign_in_token_id}/revoke:
    post:
      summary: Revoke a sign-in token
      operationId: revokeSignInToken
      tags:
      - SignInTokens
      parameters:
      - in: path
        name: sign_in_token_id
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Revoked
components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      description: Clerk secret key (sk_test_... or sk_live_...)
