openapi: 3.1.0
info:
  title: Clerk Backend Invitations JwtTemplates API
  description: 'Clerk drop-in authentication and user management Backend API.

    Authenticated with a Bearer secret key (sk_test_... or sk_live_...).

    Provides server-side management of users, sessions, organizations,

    invitations, sign-in tokens, JWT templates, and webhooks.

    This spec covers a representative slice of the Clerk Backend API;

    the full canonical specification is published at

    https://github.com/clerk/openapi-specs.

    '
  version: v1
  contact:
    name: Clerk Developers
    url: https://clerk.com/docs/reference/backend-api
servers:
- url: https://api.clerk.com/v1
  description: Clerk production Backend API
security:
- BearerAuth: []
tags:
- name: JwtTemplates
paths:
  /jwt_templates:
    get:
      summary: List JWT templates
      operationId: listJwtTemplates
      tags:
      - JwtTemplates
      responses:
        '200':
          description: Templates
    post:
      summary: Create a JWT template
      operationId: createJwtTemplate
      tags:
      - JwtTemplates
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - name
              - claims
              properties:
                name:
                  type: string
                claims:
                  type: object
                lifetime:
                  type: integer
                allowed_clock_skew:
                  type: integer
                custom_signing_key:
                  type: boolean
                signing_algorithm:
                  type: string
      responses:
        '200':
          description: Created
components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      description: Clerk secret key (sk_test_... or sk_live_...)
